<!DOCTYPE html>
  <head>
    <title>Message Details</title>
    <link rel="stylesheet" href="/styles.css" />
  </head>
  <body>
    <h1>Message Details</h1>    
    <br>
    <div>Sender: <%= user %></div>
    <div>Text: <%= text %></div>
    <div>Added: <%= added %></div>
    <a href="/"><button>Back</button></a>
  </body>
</html>