body {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 25px;
  background-color: rgb(148, 164, 165);
}

/* .messages {

} */

.message {
  min-width: 400px ;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
  margin-top: 45px;
  padding: 5px;

  border-radius: 15px;
  border: 1px solid black;
}

button {
  padding: 10px;
  border-radius: 10px;
  border: 1px solid darkgray;
}

button:hover {
  cursor: pointer;
}